@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-border-light: #c8c8c8;
  --color-button-light: var(--color-slate-300);
  --color-error-light: var(--color-red-200);
  --color-success-light: var(--color-green-200);
  --color-info-light: var(--color-blue-200);
  --color-primary-light: var(--color-slate-300);
  --color-primary-lighter: var(--color-slate-200);
}

* {
  font-family: "Raleway", sans-serif;
  color: #504f4f;
}
